<h1> Log in to your account </h1>
<form action="/users/login" method="post">

  <label for='email'>
    Email:
    <input id="email" type="email" placeholder="Email" name="email" required>
  </label>

  <label for='password'>
    Password:
    <input id="password" type="password" placeholder="Password" name="password">
  <label/>

  <input type="submit" value="Log in">
</form>
<% if flash[:failed_login] %>
  <%= flash[:failed_login] %>
<% end %>
