<!DOCTYPE html>
<html>
  <head>
    <title>Badass Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <%= yield %>
    <% if flash.now[:wrong_password] %>
        <br>
        <br> <%= flash.now[:wrong_password] %>
    <% end %>
  </body>
</html>
