<!DOCTYPE html>
<html>
  <head>
    <title>Badass Bookmark Manager</title>
  </head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.email %>

      <form action="/users/logout" method="post">
        <input type="submit" value="Log out">
      </form>

    <% end %>
    <%= yield %>
    <% if flash.now[:errors] %>
          <ul id="errors">
            <% flash.now[:errors].each do |message| %>
            <li><%= message %></li>
          </ul>
      <% end %>
    <% end %>
  </body>
</html>
