<!DOCTYPE html>
<html>
  <head>
    <title>Badass Bookmark Manager</title>
  </head>

  <body>

    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
    <%= yield %>
    <% if flash.now[:errors] %>
          <ul id="errors">
            <% flash.now[:errors].each do |message| %>
            <li><%= message %></li>
          </ul>
      <% end %>
    <% end %>

  </body>
</html>
